.jumbotron {
  margin-top: 2px;
  height: 680px;
  // width: 1200px;
  // background-image: url("/images/suana.png");
  background-image: url("/images/sauna.jpg");
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #00264d;
}

.jumbotron-background {
  background: $light-black;
}

.jumbotron-header {
  color: white;
  //opacity: 0.6;
}
